html {
  overflow: auto;
}

body {
  background: #eee;
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans',
    'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo,
    'ＭＳ Ｐゴシック', 'MS PGothic';
  margin: 0;
  padding: 0;
  color: #0a1612;
  overflow-x: hidden;
}

#layer {
  display: none; /* 初期表示は非表示 */
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
}

#sending {
  display: none; /* 初期表示は非表示 */
  position: fixed;
  left: 50%;
  top: 50%;
  width: 360px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 12px;
}

#sending h2 {
  font-size: 16px;
  margin-top: 40px;
}

.popup {
  display: none; /* 初期表示は非表示 */
  position: fixed;
  left: 50%;
  top: 50%;
  width: 360px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 12px;
}

.popup h2 {
  font-size: 16px;
}

.popup p {
  font-size: 14px;
}

.popup input {
  background: rgba(241, 171, 62, 1);
  border-radius: 3px;
  border: none;
  font-size: 12px;
  color: #fff;
  transition: 0.4s;
  font-weight: bold;
  padding: 6px 10px;
  cursor: pointer;
  margin: 14px 0;
}

.popup input:hover {
  background: rgba(241, 171, 62, 0.6);
  border-radius: 3px;
  border: none;
  font-size: 12px;
  color: #fff;
  transition: 0.4s;
  font-weight: bold;
  padding: 6px 10px;
  cursor: pointer;
}

.popup img {
  width: 120px;
}

.important {
  color: #f1ab3e;
  margin: 0;
  padding: 0;
}

.sp {
  display: none;
}

/* 「RightToLeft」の動作内容 */
@keyframes RightToLeft {
  0% {
    opacity: 0; /* 透明 */
    transform: translateX(50px); /* X軸方向に50px */
  }
  100% {
    opacity: 1; /* 不透明 */
    transform: translateX(0);
  }
}

@keyframes BottomToTop {
  0% {
    opacity: 0; /* 透明 */
    transform: translatey(50px); /* X軸方向に50px */
  }
  100% {
    opacity: 1; /* 不透明 */
    transform: translatey(0);
  }
}

header {
  width: 100%;
  margin: 0 auto;
  padding: 10px 25px;
}

header .logo img {
  width: 100px;
}

.sub-title h1 {
  text-align: center;
  margin: 0;
  font-size: 26px;
}

.sub-title span {
  width: 60px;
  display: block;
  height: 4px;
  background: #f1ab3e;
  margin: 0 auto;
}

.eyechatch {
  min-width: 950px;
  max-width: 950px;
  margin: 0 auto;
  padding: 100px 25px 0;
  display: flex;
}

.eyechatch .text h1 {
  font-size: 58px;
  margin: 0;
  line-height: 72px;
  animation-duration: 3s; /* アニメーション時間 */
  animation-name: RightToLeft;
}

.eyechatch .text h1 span {
  background: linear-gradient(transparent 70%, #f7ce3e 70%);
}

.eyechatch .text p {
  font-size: 20px;
  margin: 0;
  font-weight: 500;
}

.eyechatch .img {
  margin: 0;
  margin-left: auto;
  font-size: 0;
  line-height: 0;
  box-shadow: 0px 0px 20px rgba(40, 40, 40, 0.5);
  animation-duration: 2s; /* アニメーション時間 */
  animation-name: BottomToTop;
  z-index: 0;
}

.eyechatch .img img {
  max-width: 470px;
  font-size: 0;
  line-height: 0;
  letter-spacing: 0;
}

.footer {
  background: #1a2930;
  text-align: center;
}

.footer p {
  margin: 0;
  color: #fff;
  font-size: 12px;
  padding-bottom: 14px;
}

.footer .link {
  display: block;
  margin: 0px 0 8px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.link a {
  color: #fff;
}

.form {
  background: #1a2930;
  padding: 80px 0;
}

.form .form-content {
  max-width: 900px;
  padding: 0 30px;
  margin: 0 auto;
}

.form-content .sub-title h1 {
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 26px;
}

.form-content .sub-title span {
  height: 4px;
  width: 60px;
  background: #f1ab3e;
  display: block;
  margin: 0 auto;
}

.form-content p {
  color: #fff;
  text-align: center;
  font-weight: inherit;
}

.form-content form {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content form input {
  width: 400px;
  border: none;
  border-radius: 8px;
  height: 28px;
  padding: 2px 8px;
  font-size: 16px;
  transition: 0.4s;
}

.form-content form button {
  background: rgba(241, 171, 62, 1);
  border-radius: 8px;
  padding: 7px 14px;
  border: none;
  margin-left: 8px;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  transition: 0.4s;
  font-weight: bold;
  width: 52px;
}

.form-content form button:hover {
  width: 70px;
  background: rgb(244, 192, 110);
}

.about {
  padding: 0 30px;
  text-align: center;
  padding: 80px 0;
  color: #0a1612;
}

.about p {
  font-size: 16px;
  max-width: 600px;
  margin: 40px auto;
  line-height: 210%;
}

.about p span {
  font-weight: bold;
}

.about .sub-title span {
  background: #f1ab3e;
}

.about .br {
  display: none;
}

.deco .bar {
  border-left: solid 1px #555;
  height: 160px;
}

.feature {
  background: #fafafa;
  padding: 80px 0;
}

.feature-content {
  display: flex;
  align-items: center;
  padding: 0 30px;
  max-width: 900px;
  min-width: 627px;
  margin: 40px auto 0;
  justify-content: space-between;
}

.feature-content .item {
  padding: 0 5px;
}

.feature-content .img {
  text-align: center;
}

.feature-content .img img {
  width: 170px;
}

.flow {
  padding: 80px 0;
}

.flow-content {
  padding: 0 30px;
  max-width: 760px;
  margin: 0 auto;
}

.flow-content .item {
  display: flex;
  margin: 80px 0;
  align-items: center;
  justify-content: space-between;
}

.flow-content .item .border {
  border-top: dashed 2px #000;
  border-bottom: dashed 2px #000;
  width: 280px;
  padding: 24px 0;
  margin: 0 24px;
}

.flow-content .item .border .text {
  width: 240px;
  margin: 0 auto;
}

.flow-content .item .text h2 {
  font-size: 20px;
  margin: 0;
}

.flow-content .item .text p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.flow-content .item .item-img img {
  width: 420px;
}
