html {
  overflow: auto;
}

* {
  -webkit-appearance: none;
}

body {
  background: #eee;
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans',
    'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo,
    'ＭＳ Ｐゴシック', 'MS PGothic';
  margin: 0;
  padding: 0;
  color: #0a1612;
  overflow-x: hidden;
}

#layer {
  display: none; /* 初期表示は非表示 */
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
}

#sending {
  display: none; /* 初期表示は非表示 */
  position: fixed;
  left: 50%;
  top: 50%;
  width: 280px;
  height: 180px;
  margin-left: -150px;
  margin-top: -100px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 12px;
}

#sending h2 {
  font-size: 16px;
  margin-top: 30px;
}

.popup {
  display: none; /* 初期表示は非表示 */
  position: fixed;
  left: 50%;
  top: 50%;
  width: 280px;
  height: 180px;
  margin-left: -150px;
  margin-top: -100px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 12px;
}

.popup h2 {
  font-size: 14px;
}

.popup p {
  font-size: 12px;
  margin: 7px 0;
}

.popup input {
  background: rgba(241, 171, 62, 1);
  border-radius: 3px;
  border: none;
  font-size: 12px;
  color: #fff;
  transition: 0.4s;
  font-weight: bold;
  padding: 6px 10px;
  cursor: pointer;
  margin: 7px 0;
}

.popup input:hover {
  background: rgba(241, 171, 62, 0.6);
  border-radius: 3px;
  border: none;
  font-size: 12px;
  color: #fff;
  transition: 0.4s;
  font-weight: bold;
  padding: 6px 10px;
  cursor: pointer;
}

.popup img {
  width: 120px;
}

.important {
  color: #f1ab3e;
  margin: 0;
  padding: 0;
}

@keyframes RightToLeft {
  0% {
    opacity: 0; /* 透明 */
    transform: translateX(50px); /* X軸方向に50px */
  }
  100% {
    opacity: 1; /* 不透明 */
    transform: translateX(0);
  }
}

.pc {
  display: none;
}

header {
  width: 100%;
  margin: 0 auto;
  padding: 15px 25px 0;
}

header .logo img {
  width: 100px;
}

.sub-title h1 {
  text-align: center;
  margin: 0;
  font-size: 22px;
}

.sub-title span {
  width: 60px;
  display: block;
  height: 4px;
  background: #f1ab3e;
  margin: 0 auto;
}

.eyechatch {
  margin: 0 auto;
  padding: 40px 10px 70px;
}

.eyechatch .text h1 {
  font-size: 38px;
  padding-left: 15px;
  margin: 0;
  line-height: 48px;
  animation-duration: 3s; /* アニメーション時間 */
  animation-name: RightToLeft;
}

.eyechatch .text h1 span {
  background: linear-gradient(transparent 70%, #f7ce3e 70%);
}

.eyechatch .text p {
  font-size: 16px;
  padding-left: 15px;
  margin: 0;
  font-weight: 500;
}

.eyechatch .img {
  margin: 0;
  font-size: 0;
  line-height: 0;
  box-shadow: 0px 0px 20px rgba(40, 40, 40, 0.5);
  display: inline-block;
  display: none;
}

.eyechatch .img img {
  max-width: 220px;
  font-size: 0;
  line-height: 0;
  letter-spacing: 0;
}

.footer {
  background: #1a2930;
}

.footer p {
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding-bottom: 14px;
}

.footer .link {
  display: block;
  margin: 0px 0 8px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.link a {
  color: #fff;
}

.form {
  background: #1a2930;
  padding: 24px 0;
}

.form .form-content {
  max-width: 900px;
  padding: 0 30px;
  margin: 0 auto;
}

.form-content .sub-title h1 {
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 22px;
}

.form-content .sub-title span {
  height: 4px;
  width: 60px;
  background: #f1ab3e;
  display: block;
  margin: 0 auto;
}

.form-content p {
  color: #fff;
  text-align: center;
  font-weight: inherit;
  font-size: 14px;
}

.form-content form {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content form input {
  border: none;
  border-radius: 4px;
  height: 28px;
  padding: 1px 3px;
  font-size: 12px;
  flex: 1;
}

.form-content form button {
  background: #f1ab3e;
  border-radius: 4px;
  padding: 6px 14px;
  border: none;
  margin-left: 8px;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  width: 52px;
}

.about {
  padding: 0 30px;
  text-align: center;
  padding: 40px 25px;
  color: #0a1612;
}

.about p {
  text-align: left;
  font-size: 16px;
  max-width: 280px;
  margin: 40px auto;
  line-height: 210%;
}

.about p span {
  font-weight: bold;
}

.about .sub-title span {
  background: #f1ab3e;
}

.deco .stick {
  width: 120px;
  border: solid 1px #555;
  margin: 0 auto;
}

.feature {
  background: #fafafa;
  padding: 40px 0;
  text-align: center;
}

.feature-content {
  padding: 0 30px;
  max-width: 900px;
  margin: 40px auto 0;
}

.feature-content .item {
  padding: 0 5px;
  display: block;
  margin: 50px 0;
}

.feature-content .item:last-child {
  margin: 50px 0 0;
}

.feature-content .item h2 {
  text-align: center;
  width: 210px;
  margin: 0px auto 6px;
}

.feature-content .item p {
  text-align: left;
  width: 210px;
  margin: 0 auto;
}

.feature-content .img {
  text-align: center;
  display: inline-block;
}

.feature-content .img img {
  width: 170px;
}

.flow {
  padding: 40px 0;
}

.flow-content {
  padding: 0 30px;
  max-width: 760px;
  margin: 0 auto;
}

.flow-content .item {
  margin: 40px 0 0;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-color: #222 #222 transparent transparent;
  transform: rotate(135deg);
  text-align: center;
  margin: 0 auto;
}

.flow-content .item .border {
  width: 280px;
  padding: 12px 0;
  margin: 0 auto;
}

.flow-content .item .border .text {
  width: 240px;
  margin: 0 auto;
}

.flow-content .item .text h2 {
  font-size: 20px;
  margin: 0;
  padding-bottom: 2px;
  display: inline-block;
}

.flow-content .item .text p {
  margin: 2px 0;
  font-size: 14px;
  font-weight: bold;
}

.flow-content .item .item-img {
  text-align: center;
}

.flow-content .item .item-img img {
  width: 240px;
}
