html{
  overflow: auto;
}

body{
  background: #eee;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  margin: 0;
  padding: 0;
  color: #555;
  overflow-x: hidden;
}

header {
  width: 100%;
  margin: 0 auto;
  padding: 10px 25px;
  background-color: #1a2930;
}

header .logo{
  display: inline-block;
}

header .logo img{
  width: 100px;
}

.main{
  padding: 0 14px;
}

.privacy{
  max-width: 800px;
  margin: 24px auto;
  background: #fff;
  border: solid 1px #ccc;
  padding: 18px;
}

h1{
  border-bottom: solid 1px #ccc;
  padding-bottom: 12px;
  font-size: 22px;
  margin: 0 0 auto;
}

p{
  font-size: 14px;
}

h2{
  font-size: 16px;
}

.content{
  margin: 22px 0;
}

.content h2{
  margin: 0;
  margin-bottom: 4px;
}

.content p{
  margin: 0;
}

.sub{
  margin: 0;
}

footer{
  background: #1a2930;
  color: #fff;
  text-align: center;
  padding: 14px 0;

}

footer p{
  margin: 0;
  font-size: 12px;
}
